[Desktop Entry]
Name=Maroon
Type=Application
Exec=qmlscene /usr/share/qt5/qt5-qtdeclarative/examples/quick/demos/maroon/maroon.qml
Icon=/usr/share/qt-tizen-demo/maroon.png

