[Desktop Entry]
Name=Samegame
Type=Application
Exec=qmlscene /usr/share/qt5/qt5-qtdeclarative/examples/quick/demos/samegame/samegame.qml
Icon=/usr/share/qt-tizen-demo/samegame.png

